<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="QuanLyCFEntities" connectionString="metadata=res://*/CafeEntity.csdl|res://*/CafeEntity.ssdl|res://*/CafeEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0PF6635;initial catalog=QuanLyCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCFEntities1" connectionString="metadata=res://*/QuanLyCF.csdl|res://*/QuanLyCF.ssdl|res://*/QuanLyCF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-SADGGKRU;initial catalog=QuanLyCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCFEntities2" connectionString="metadata=res://*/QuanLyCFEntity.csdl|res://*/QuanLyCFEntity.ssdl|res://*/QuanLyCFEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0PF6635;initial catalog=QuanLyCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCFEntities3" connectionString="metadata=res://*/QuanLyCafeEntity.csdl|res://*/QuanLyCafeEntity.ssdl|res://*/QuanLyCafeEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0PF6635;initial catalog=QuanLyCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>